@use '../custom' as *;

.contact {
    @include media-breakpoint-up(xs) {
        padding-top: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 4rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 5rem;
    }
}

.contact-container {
    @include media-breakpoint-up(sm) {
        
    }
    @include media-breakpoint-up(md) {
        width: 30rem;
    }
}