@use '../custom' as *;

.contact {
    @include media-breakpoint-up(xs) {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 4rem;
        padding-bottom: 10rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 6rem;
        padding-bottom: 22rem;
    }
}

.contact-container {
    @include media-breakpoint-up(sm) {
        
    }
    @include media-breakpoint-up(md) {
        width: 30rem;
    }
}

.email-icon {
    height: 2.5rem;
}