@use '../custom' as *;

.skills {
    @include media-breakpoint-up(xs) {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 5rem;
        padding-bottom: 7rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.skills-container {
    @include media-breakpoint-up(lg) {
        width: 45rem;
    }
}

.icon-box {
    width: 10rem;
}

.icon {
    width: 3rem;
}