@use '../custom' as *;

body {
    font-family: 'Roboto', sans-serif;
}

.background-header{
    background-image: url('/background-header.png');
    background-size: cover;
    background-position: center;
}

.perfil {
    @include media-breakpoint-up(xs) {
        width: 13rem;
    }
    @include media-breakpoint-up(md) {
        width: 20rem;
    }
    @include media-breakpoint-up(lg) {
        width: 25rem;
    }
}

.header {
    @include media-breakpoint-up(xs) {
        height: 89svh;
        padding-top: 2rem;
    }
    @include media-breakpoint-up(md) {
        height: 93svh;
        padding-top: 15rem;
    }
    @include media-breakpoint-up(lg) {
        height: 100svh;
        padding-top: 5rem;
    }
    @include media-breakpoint-up(xl) {
        height: 93svh;
        padding-top: 11rem;
    }
}

.logo {
    width: 2rem;
    // filter: invert(1);
}

.cursor {
    cursor: pointer;
}

.zoom {
    transition: transform 0.2s ease-in-out;
}
.zoom:hover {
    transform: scale(1.2);
}

