@use '../custom' as *;

.perfil {
    width: 20rem;
    @include media-breakpoint-up(md) {
        width: 25rem;
    }
}

.logo {
    width: 3rem;
}

.icon {
    width: 2rem;
}

.icon-box {
    width: 10rem;
}