@use '../custom' as *;

body {
    font-family: 'Alegreya', serif;
}

.background-header{
    background-image: url('/background4-header.png');
    background-size: cover;
    background-position: center;
}

.perfil {
    @include media-breakpoint-up(xs) {
        width: 13rem;
    }
    @include media-breakpoint-up(md) {
        width: 20rem;
    }
    @include media-breakpoint-up(lg) {
        width: 20rem;
    }
}

.header {
    @include media-breakpoint-up(xs) {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 15rem;
        padding-bottom: 10rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 10rem;
        padding-bottom: 15rem;
    }
}

.logo {
    width: 2rem;
    // filter: invert(1);
}

.cursor {
    cursor: pointer;
}

.zoom {
    transition: transform 0.2s ease-in-out;
    border: 1px solid #DEE2E6;
}
.zoom:hover {
    transform: scale(1.2);
}


// CSS Property: animation-timeline

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

}