// Reescribir las variables de Bootstrap
$blanco: #DEE2E6;
// $negro: #212529;

// Asignar paleta de colores a Bootstrap
$primary: $blanco;
// $dark: $negro;

// Tipografía
$display-font-weight: 900;
$headings-font-weight: 700;

// Nav Link
$nav-link-padding-x: 0;

// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';