// Reescribir las variables de Bootstrap
$blanco: #DEE2E6;
$gris: #343a40;
$superBlanco: #FFFFFF;

// Asignar paleta de colores a Bootstrap
$primary: $blanco;
$secondary: $gris;
$success: $superBlanco;

// Tipografía
$display-font-weight: 900;
$headings-font-weight: 700;

// Nav Link
$nav-link-padding-x: 0;

// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';